openapi: 3.0.0
info:
  title: Public API
  version: 1.0.0
servers:
  - url: 'https://api.gumloop.com/api/v1'
paths:
  /start_pipeline:
    post:
      summary: Start flow run
      description: This endpoint is used to trigger a flow run via API
      operationId: startFlow
      tags:
        - Execution
      requestBody:
        required: true
        description: >
          In addition to the documented top-level fields, you may include any
          additional inputs in the request body.
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: The id for the user initiating the flow.
                project_id:
                  type: string
                  description: (Optional) The id of the project within which the flow is executed.
                saved_item_id:
                  type: string
                  description: The id for the saved flow.
              required:
                - saved_item_id
                - user_id
              additionalProperties:
                description: >
                  Arbitrary input value. The property key is matched by name to
                  an Input node in the flow, and the entire body will be forwarded to any Webhook Input node.
            example:
              user_id: xxxxxxxxxxxxxx
              saved_item_id: xxxxxxxxxxxxxx
              recipient: recipient@gmail.com
              subject: Example of an Email Subject Line
              body: Example of the Text of an Email Body
              topic: weekly update
      responses:
        '200':
          description: Flow started successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  run_id:
                    type: string
                  saved_item_id:
                    type: string
                  workbook_id:
                    type: string
                  url:
                    type: string
        '400':
          description: Bad request (missing or conflicting parameters)
        '401':
          description: Unauthorized (missing or invalid API key)
        '403':
          description: Forbidden (API key does not match)
        '500':
          description: Internal server error
      security:
        - bearerAuth: []

  /kill_pipeline:
    post:
      summary: Kill flow run
      description: This endpoint is used to kill a flow run and all its subflow runs.
      operationId: killPipeline
      tags:
        - Execution
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                run_id:
                  type: string
                  description: The ID of the pipeline run to kill.
                user_id:
                  type: string
                  description: The user ID. Required if project_id is not provided.
                project_id:
                  type: string
                  description: The project ID. Required if user_id is not provided.
              required:
                - run_id
      responses:
        '200':
          description: Pipeline killed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  run_id:
                    type: string
                    description: The ID of the killed pipeline run.
        '400':
          description: Bad request (missing run_id)
        '401':
          description: Unauthorized (missing or invalid API key)
        '403':
          description: Forbidden (user does not have permission to kill this run)
        '404':
          description: Pipeline run not found
        '500':
          description: Internal server error
      security:
        - bearerAuth: []

  /get_pl_run:
    get:
      summary: Retrieve run details
      description: This endpoint can be used to poll for completion and retrieve final flow outputs. Output nodes must be used to retrieve outputs.
      operationId: getAutomationRun
      tags:
        - Data Access
      parameters:
        - in: query
          name: run_id
          required: true
          schema:
            type: string
          description: ID of the flow run to retrieve
        - in: query
          name: user_id
          required: false
          schema:
            type: string
          description: The id for the user initiating the flow. Required if project_id is not provided.
        - in: query
          name: project_id
          required: false
          schema:
            type: string
          description: The id of the project within which the flow is executed. Required if user_id is not provided.
      responses:
        '200':
          description: Successful retrieval of flow run details
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: string
                    description: The id for the user initiating the flow.
                  state:
                    type: string
                    enum: ['RUNNING', 'DONE', 'TERMINATING', 'FAILED', 'TERMINATED', 'QUEUED']
                  outputs:
                    type: object
                    description: JSON object where keys are the `output_name` parameters of your Gumloop Output nodes and the values are the values that get sent to your node.
                  created_ts:
                    type: string
                    format: date-time
                    description: Timestamp for when the flow was started.
                  finished_ts:
                    type: string
                    format: date-time
                    description: Timestamp for when the flow completed.
                  log:
                    type: array
                    items:
                      type: string
                    description: A list of log entries from your Gumloop flow run.
        '400':
          description: Bad request (missing run_id)
        '404':
          description: Flow run not found
      security:
        - bearerAuth: []

  /list_workbooks:
    get:
      summary: List workbooks and their saved flows
      operationId: listWorkbooks
      tags:
        - Data Access
      parameters:
        - in: query
          name: user_id
          required: false
          schema:
            type: string
          description: The user ID for which to list workbooks. Required if project_id is not provided.
        - in: query
          name: project_id
          required: false
          schema:
            type: string
          description: The project ID for which to list workbooks. Required if user_id is not provided.
      responses:
        '200':
          description: Successful retrieval of workbooks and their saved items
          content:
            application/json:
              schema:
                type: object
                properties:
                  workbooks:
                    type: array
                    items:
                      type: object
                      properties:
                        workbook_id:
                          type: string
                          description: The id of the workbook.
                        name:
                          type: string
                          description: The name of the workbook.
                        description:
                          type: string
                          description: The description of the workbook.
                        created_ts:
                          type: string
                          format: date-time
                          description: Timestamp for when the workbook was created.
                        saved_items:
                          type: array
                          items:
                            type: object
                            properties:
                              saved_item_id:
                                type: string
                                description: The id of the saved flow.
                              name:
                                type: string
                                description: The name of the saved flow.
                              description:
                                type: string
                                description: The description of the saved flow.
                              created_ts:
                                type: string
                                format: date-time
                                description: Timestamp for when the saved flow was created.
                    description: List of workbooks and their associated saved flows
        '400':
          description: Bad request (missing parameters)
        '401':
          description: Unauthorized (missing or invalid API key)
        '403':
          description: Forbidden (API key does not match)
        '500':
          description: Internal server error
      security:
        - bearerAuth: []

  /list_saved_items:
    get:
      summary: List saved flows
      operationId: listSavedAutomations
      tags:
        - Data Access
      parameters:
        - in: query
          name: user_id
          required: false
          schema:
            type: string
          description: The user ID to for which to list items. Required if project_id is not provided.
        - in: query
          name: project_id
          required: false
          schema:
            type: string
          description: The project ID for which to list items. Required if user_id is not provided.
      responses:
        '200':
          description: Successful retrieval of saved items
          content:
            application/json:
              schema:
                type: object
                properties:
                  saved_items:
                    type: array
                    items:
                      type: object
                      properties:
                        saved_item_id:
                          type: string
                          description: The id for the saved flow.
                        name:
                          type: string
                          description: The name of the saved flow.
                        description:
                          type: string
                          description: The description of the saved flow.
                        created_ts:
                          type: string
                          format: date-time
                          description: Timestamp for when the flow was started.
                    description: List of saved flows
        '400':
          description: Bad request (missing parameters)
        '401':
          description: Unauthorized (missing or invalid API key)
        '403':
          description: Forbidden (API key does not match)
        '500':
          description: Internal server error
      security:
        - bearerAuth: []

  /get_inputs:
    get:
      summary: Retrieve input schema
      operationId: getInputs
      tags:
        - Data Access
      parameters:
        - in: query
          name: saved_item_id
          required: true
          schema:
            type: string
          description: The ID of the saved item for which to retrieve input schemas.
        - in: query
          name: user_id
          required: false
          schema:
            type: string
          description: User ID that created the flow. Required if project_id is not provided.
        - in: query
          name: project_id
          required: false
          schema:
            type: string
          description: Project ID that the flow is under. Required if user_id is not provided.
      responses:
        '200':
          description: Successful retrieval of item input schemas
          content:
            application/json:
              schema:
                type: object
                properties:
                  inputs:
                    type: array
                    items:
                      type: object
                      properties:
                        data_type:
                          type: string
                          enum: [string, file]
                          description: The type of the input, either a 'string' or a 'file'.
                        description:
                          type: string
                          nullable: true
                          description: A description of the input. Can be null if no desecription is given.
                        name:
                          type: string
                          description: The name of the input.
                    description: List of inputs for the saved item.
        '400':
          description: Bad request (missing parameters)
        '401':
          description: Unauthorized (missing or invalid API key)
        '403':
          description: Forbidden (API key does not match)
        '404':
          description: Saved item not found
      security:
        - bearerAuth: []

  /get_plrun_saved_item_map:
    get:
      summary: Retrieve automation run history
      description: This endpoint retrieves the run history for automations, either by workbook or saved item. Returns the 10 most recent runs.
      operationId: getAutomationRunHistory
      tags:
        - Data Access
      parameters:
        - in: query
          name: workbook_id
          required: false
          schema:
            type: string
          description: The ID of the workbook to retrieve run history for. Required if saved_item_id is not provided.
        - in: query
          name: saved_item_id
          required: false
          schema:
            type: string
          description: The ID of the saved item to retrieve run history for. Required if workbook_id is not provided.
        - in: query
          name: user_id
          required: false
          schema:
            type: string
          description: The user ID. Required if project_id is not provided.
        - in: query
          name: project_id
          required: false
          schema:
            type: string
          description: The project ID. Required if user_id is not provided.
      responses:
        '200':
          description: Successful retrieval of automation run history
          content:
            application/json:
              schema:
                type: object
                description: A map of saved item IDs to their recent run history, with up to 10 runs per saved item
        '400':
          description: Bad request (missing workbook_id or saved_item_id parameter)
        '401':
          description: Unauthorized (missing or invalid API key)
        '403':
          description: Forbidden (API key does not match)
        '404':
          description: Workbook not found
        '500':
          description: Internal server error
      security:
        - bearerAuth: []

  /download_file:
    post:
      summary: Download file
      operationId: downloadFile
      tags:
        - File Handling
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file_name:
                  type: string
                  description: The name of the file to download.
                run_id:
                  type: string
                  description: The ID of the flow run associated with the file.
                saved_item_id:
                  type: string
                  description: The saved item ID associated with the file.
                user_id:
                  type: string
                  description: Optional. The user ID associated with the flow run.
                project_id:
                  type: string
                  description: Optional. The project ID associated with the flow run.
      responses:
        '200':
          description: File downloaded successfully
        '400':
          description: Bad request (missing file_name or other required data)
        '403':
          description: Unauthorized (API key or user verification failed)
        '500':
          description: Internal server error (file download failed)
      security:
        - bearerAuth: []

  /download_files:
    post:
      summary: Download multiple files
      operationId: downloadFiles
      tags:
        - File Handling
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file_names:
                  type: array
                  items:
                    type: string
                  description: An array of file names to download.
                run_id:
                  type: string
                  description: The ID of the flow run associated with the files.
                user_id:
                  type: string
                  description: The user ID associated with the files. Required if project_id is not provided.
                project_id:
                  type: string
                  description: The project ID associated with the files. Required if user_id is not provided.
                saved_item_id:
                  type: string
                  description: Optional. The saved item ID associated with the files.
      responses:
        '200':
          description: Files downloaded successfully as a zip
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '400':
          description: Bad request (missing file_names or other required data)
        '401':
          description: Unauthorized (missing or invalid API key)
        '403':
          description: Forbidden (API key does not match)
        '500':
          description: Internal server error (file download failed)
      security:
        - bearerAuth: []

  /upload_file:
    post:
      summary: Upload file
      operationId: uploadFile
      tags:
        - File Handling
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file_name:
                  type: string
                  description: The name of the file to be uploaded.
                file_content:
                  type: string
                  format: byte
                  description: Base64 encoded content of the file.
                user_id:
                  type: string
                  description: The user ID associated with the file. Required if project_id is not provided.
                project_id:
                  type: string
                  description: The project ID associated with the file. Required if user_id is not provided.
      responses:
        '200':
          description: File uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  file_name:
                    type: string
                    description: The name of the uploaded file.
        '400':
          description: Bad request (missing file or required parameters)
        '401':
          description: Unauthorized (missing or invalid API key)
        '403':
          description: Forbidden (API key does not match)
        '500':
          description: Internal server error (file upload failed)
      security:
        - bearerAuth: []

  /upload_files:
    post:
      summary: Upload multiple files
      operationId: uploadFiles
      tags:
        - File Handling
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                files:
                  type: array
                  items:
                    type: object
                    properties:
                      file_name:
                        type: string
                        description: The name of the file to be uploaded.
                      file_content:
                        type: string
                        format: byte
                        description: Base64 encoded content of the file.
                user_id:
                  type: string
                  description: The user ID associated with the files. Required if project_id is not provided.
                project_id:
                  type: string
                  description: The project ID associated with the files. Required if user_id is not provided.
      responses:
        '200':
          description: All files uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  uploaded_files:
                    type: array
                    items:
                      type: string
                    description: Array of uploaded file names.
        '207':
          description: Partial success (some files failed to upload)
          content:
            application/json:
              schema:
                type: object
                properties:
                  partial_success:
                    type: boolean
                  uploaded_files:
                    type: array
                    items:
                      type: string
                    description: Array of successfully uploaded file names.
                  failed_files:
                    type: array
                    items:
                      type: string
                    description: Array of file names that failed to upload.
        '400':
          description: Bad request (missing files or required parameters)
        '401':
          description: Unauthorized (missing or invalid API key)
        '403':
          description: Forbidden (API key does not match)
        '500':
          description: Internal server error (all file uploads failed)
      security:
        - bearerAuth: []

  /get_audit_logs:
    get:
      summary: Retrieve audit logs
      description: This endpoint retrieves audit logs for all users in an organization for a specified time period.
      operationId: getOrganizationAuditLogs
      tags:
        - Organization
      parameters:
        - in: query
          name: organization_id
          required: true
          schema:
            type: string
          description: The ID of the organization to retrieve audit logs for.
        - in: query
          name: user_id
          required: true
          schema:
            type: string
          description: Your user id -- you must be an organization admin to retrieve organization logs.
        - in: query
          name: start_time
          required: true
          schema:
            type: string
            format: date-time
          description: Start timestamp for log filtering (ISO format).
        - in: query
          name: end_time
          required: true
          schema:
            type: string
            format: date-time
          description: End timestamp for log filtering (ISO format).
        - in: query
          name: page
          required: false
          schema:
            type: integer
            default: 1
          description: Page number for pagination.
        - in: query
          name: page_size
          required: false
          schema:
            type: integer
            default: 50
          description: Number of records per page.
      responses:
        '200':
          description: Successful retrieval of organization audit logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  audit_logs:
                    type: array
                    items:
                      type: object
                      properties:
                        event_id:
                          type: string
                          description: Unique identifier for the audit log event.
                        timestamp:
                          type: string
                          format: date-time
                          description: When the event occurred.
                        event_type:
                          type: string
                          description: Type of event that was logged.
                        user_id:
                          type: string
                          description: ID of the user who performed the action.
                        details:
                          type: string
                          description: Additional details about the event.
                        source_ip:
                          type: string
                          description: IP address from which the action was performed.
                        user_agent:
                          type: string
                          description: User agent information from the request.
                  total_count:
                    type: integer
                    description: Total number of matching audit logs.
                  page:
                    type: integer
                    description: Current page number.
                  page_size:
                    type: integer
                    description: Number of records per page.
                  total_pages:
                    type: integer
                    description: Total number of pages available.
        '400':
          description: Bad request (missing required parameters)
        '401':
          description: Unauthorized (missing or invalid API key)
        '403':
          description: Forbidden (user is not an organization admin)
        '404':
          description: Organization not found
        '500':
          description: Internal server error
      security:
        - bearerAuth: []

  /manage_workspace_users:
    post:
      summary: Manage workspace users
      description: This endpoint allows organization administrators to add or remove users from a workspace.
      operationId: manageProjectUsers
      tags:
        - Organization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                organization_id:
                  type: string
                  description: The ID of the organization that the workspace belongs to.
                user_id:
                  type: string
                  description: Your user id -- you must be an organization admin to manage workspace users.
                workspace_id:
                  type: string
                  description: The ID of the workspace to manage users for.
                action:
                  type: string
                  enum: [add, remove]
                  description: The action to perform - either 'add' or 'remove' a user.
                user_email:
                  type: string
                  description: The email address of the target user to add or remove.
                is_admin:
                  type: boolean
                  description: When adding a user, specify whether they should have admin privileges (default is false).
              required:
                - organization_id
                - user_id
                - workspace_id
                - action
                - user_email
      responses:
        '200':
          description: User successfully added to or removed from workspace
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    description: A success message describing the action performed.
        '400':
          description: Bad request (missing required parameters or invalid action)
        '401':
          description: Unauthorized (missing or invalid API key)
        '403':
          description: Forbidden (user is not an organization admin or workspace doesn't belong to organization)
        '404':
          description: Organization, workspace, or user not found
        '500':
          description: Internal server error
      security:
        - bearerAuth: []

  /manage_permission_group_users:
    post:
      summary: Manage custom role users
      description: This endpoint allows organization administrators to add or remove users from a custom role (formerly "permission group"). Adding a user to a role does not remove them from any other role they belong to.
      operationId: managePermissionGroupUsers
      tags:
        - Organization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                organization_id:
                  type: string
                  description: The ID of the organization that the custom role belongs to.
                user_id:
                  type: string
                  description: Your user id -- you must be an organization admin to manage custom role users.
                group_id:
                  type: string
                  description: The ID of the custom role to manage users for.
                action:
                  type: string
                  enum: [add, remove]
                  description: The action to perform - either 'add' or 'remove' a user.
                user_email:
                  type: string
                  description: The email address of the target user to add or remove.
              required:
                - organization_id
                - user_id
                - group_id
                - action
                - user_email
      responses:
        '200':
          description: User successfully added to or removed from the custom role
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                    description: A success message describing the action performed.
        '400':
          description: Bad request (missing required parameters or invalid action)
        '401':
          description: Unauthorized (missing or invalid API key)
        '403':
          description: Forbidden (user is not an organization admin or custom role doesn't belong to organization)
        '404':
          description: Organization, custom role, or user not found
        '500':
          description: Internal server error
      security:
        - bearerAuth: []

  /export_data:
    post:
      summary: Export data
      description: |
        This endpoint allows enterprise organization administrators to create and initiate a comprehensive data export for their organization or specific workspaces.

        The export supports four data types:
        - **Workflow data** (`data_type: "workflows"`): Includes workflow runs, workbook details, user information, and other organizational data.
        - **Agent data** (`data_type: "agents"`): Includes agent configurations, metadata, tools, and creator information.
        - **Agent interaction data** (`data_type: "agent_interactions"`): Includes agent interaction data with timestamps, credit costs, trigger types, and message counts.
        - **Credit log data** (`data_type: "credit_logs"`): Includes credit transaction history with charges, balances, categories, and user attribution.

        The available `export_fields` depend on the selected `data_type`. See the field descriptions below for details.

        **Scoping requirement:** For non-credit-log exports, at least one scoping parameter must be provided: `workspace_ids`, `include_all_workspaces`, `include_personal_workspaces`, or `entity_ids`. Requests that omit all scoping parameters will receive a `400` error.

        **Note:** Credit log exports work differently from workflow and agent exports. When `data_type` is `"credit_logs"`, the following parameters are **not applicable** and will be ignored: `export_level`, `workspace_ids`, `include_all_workspaces`, `include_personal_workspaces`, and `entity_ids`. Credit log exports are always scoped to the entire organization. Use `category_filter` to filter by credit log category.
      operationId: exportData
      tags:
        - Organization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: The ID of the user requesting the export.
                data_type:
                  type: string
                  enum:
                    - workflows
                    - agents
                    - agent_interactions
                    - credit_logs
                  default: workflows
                  description: |
                    The type of data to export. Use `"workflows"` to export workflow run data, `"agents"` to export agent configuration data, `"agent_interactions"` to export agent interaction data, or `"credit_logs"` to export credit transaction history. Defaults to `"workflows"`.
                category_filter:
                  type: string
                  description: |
                    **Only applicable when `data_type` is `"credit_logs"`.** Optional filter to export only credit logs matching a specific category (e.g., `"PIPELINE_RUN"`, `"AGENT_RUN"`, `"CUSTOM_NODE_RD"`, `"EXTERNAL_GUMCP_CALL"`). When omitted, all categories are included.
                export_level:
                  type: string
                  enum:
                    - workspace
                    - organization
                  default: organization
                  description: |
                    The scope of the export. Use `"organization"` to export across the entire organization, or `"workspace"` to export from a single workspace (requires exactly one ID in `workspace_ids`). Defaults to `"organization"`. **Not applicable when `data_type` is `"credit_logs"`.**
                export_fields:
                  type: array
                  items:
                    type: string
                  description: |
                    Array of fields to include in the export. The available fields depend on the `data_type`.

                    **Workflow fields** (when `data_type` is `"workflows"`):
                    - `workbook_id` - The workbook identifier
                    - `workbook_name` - The workbook name
                    - `workbook_created_ts` - Workbook creation timestamp
                    - `user_id` - The user identifier
                    - `user_email` - The user's email address
                    - `workspace_id` - The workspace identifier
                    - `workspace_name` - The workspace name
                    - `run_id` - The flow run identifier
                    - `credit_cost` - Credits consumed by the run
                    - `pl_run_created_ts` - Flow run creation timestamp
                    - `pl_run_finished_ts` - Flow run completion timestamp
                    - `pipeline` - The full pipeline configuration (JSON)

                    **Agent fields** (when `data_type` is `"agents"`):
                    - `agent_id` - The agent identifier
                    - `agent_name` - The agent name
                    - `agent_description` - The agent description
                    - `agent_model` - The model used by the agent
                    - `agent_system_prompt` - The agent's system prompt
                    - `agent_created_ts` - Agent creation timestamp
                    - `agent_tools` - Tools configured for the agent (JSON)
                    - `agent_metadata` - Additional agent metadata (JSON)
                    - `creator_email` - Email of the user who created the agent
                    - `workspace_id` - The workspace identifier
                    - `workspace_name` - The workspace name

                    **Agent interaction fields** (when `data_type` is `"agent_interactions"`):
                    - `interaction_id` - Unique identifier for the chat session
                    - `agent_id` - The agent identifier
                    - `agent_name` - The agent name
                    - `interaction_type` - Type of interaction (e.g., chat, slack, api, triggered)
                    - `interaction_name` - Display name of the chat session
                    - `trigger_type` - For triggered interactions, the specific trigger type (e.g., time_based, polling_new_record_salesforce). Null for non-triggered interactions.
                    - `interaction_created_ts` - Chat session creation timestamp
                    - `user_email` - Email of the user who initiated the chat
                    - `credit_cost` - Total credits consumed (LLM + tool + flow)
                    - `llm_credit_cost` - Credits consumed by LLM calls only
                    - `tool_credit_cost` - Credits consumed by tool calls
                    - `flow_credit_cost` - Credits consumed by pipeline runs
                    - `message_count` - Number of messages in the conversation
                    - `workspace_id` - The workspace identifier
                    - `workspace_name` - The workspace name

                    **Credit log fields** (when `data_type` is `"credit_logs"`):
                    - `user_email` - Email of the user associated with the credit log entry
                    - `permission_group_id` - Custom role ID(s) the user belongs to (semicolon-separated if multiple) (disabled by default)
                    - `permission_group_name` - Custom role name(s) the user belongs to (semicolon-separated if multiple) (disabled by default)
                    - `timestamp` - When the credit transaction occurred
                    - `category` - The category of the credit log (e.g., PIPELINE_RUN, AGENT_RUN)
                    - `type` - The specific type of credit charge
                    - `name` - Display name of the credit log entry
                    - `amount` - Number of credits charged or adjusted
                    - `balance` - Credit balance after the transaction
                    - `log_id` - Unique identifier for the credit log entry
                    - `project_id` - The project identifier (disabled by default)

                    Not all combinations of selected fields are guaranteed to produce data for every row.
                start_date:
                  type: string
                  format: date-time
                  description: Start date for the export in ISO 8601 format (e.g., `2025-01-01T00:00:00Z`).
                end_date:
                  type: string
                  format: date-time
                  description: End date for the export in ISO 8601 format (e.g., `2025-12-31T23:59:59Z`).
                include_all_workspaces:
                  type: boolean
                  default: false
                  description: Whether to include all workspaces in the organization. When `true`, also sets `include_personal_workspaces` to `true`. **Not applicable when `data_type` is `"credit_logs"`.**
                include_personal_workspaces:
                  type: boolean
                  default: false
                  description: Whether to include personal workspaces in the export. Ignored if `include_all_workspaces` is `true`. **Not applicable when `data_type` is `"credit_logs"`.**
                workspace_ids:
                  type: array
                  items:
                    type: string
                  description: An optional array of workspace IDs to include in the export. When `export_level` is `"workspace"`, exactly one workspace ID is required. Ignored if `include_all_workspaces` is `true`. **Not applicable when `data_type` is `"credit_logs"`.**
                entity_ids:
                  type: array
                  items:
                    type: string
                  description: |
                    An optional array of specific entity IDs to filter the export. For workflow exports (`data_type: "workflows"`), these are workbook IDs. For agent exports (`data_type: "agents"`) and agent interaction exports (`data_type: "agent_interactions"`), these are agent IDs. When provided, only data for the specified entities will be included. **Not applicable when `data_type` is `"credit_logs"`.**
              required:
                - user_id
                - export_fields
                - start_date
                - end_date
      responses:
        '200':
          description: Data export successfully initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indicates whether the export was successfully initiated.
                  data_export_id:
                    type: string
                    description: Unique identifier for the data export job. Use this with the [Get export status](/api-reference/organization/export-status) endpoint to check progress and download the completed export.
                  state:
                    type: string
                    enum:
                      - REQUESTED
                    description: The initial state of the export job. Will be `REQUESTED` upon creation.
                  created_ts:
                    type: string
                    format: date-time
                    description: Timestamp when the export was created (ISO 8601).
        '400':
          description: Bad request — missing required parameters, invalid date format, invalid `export_level` value, or missing scoping parameters (for non-credit-log exports, at least one of `workspace_ids`, `include_all_workspaces`, `include_personal_workspaces`, or `entity_ids` is required).
        '401':
          description: Unauthorized — missing or invalid API key.
        '403':
          description: Forbidden — insufficient permissions or the organization is not on the enterprise tier.
        '404':
          description: Organization or workspace not found.
        '500':
          description: Internal server error.
      security:
        - bearerAuth: []

  /export_status:
    get:
      summary: Get data export status
      description: |
        This endpoint retrieves the status of a data export job and optionally downloads the export file (as CSV) if the export has completed successfully.

        Use the `data_export_id` returned by the [Export data](/api-reference/organization/export-data) endpoint to check progress.
      operationId: exportStatus
      tags:
        - Organization
      parameters:
        - in: query
          name: user_id
          required: true
          schema:
            type: string
          description: The ID of the user requesting the export status.
        - in: query
          name: data_export_id
          required: true
          schema:
            type: string
          description: The unique identifier of the data export job to check (returned by the Export data endpoint).
        - in: query
          name: download
          required: false
          schema:
            type: boolean
            default: false
          description: |
            Set to `true` to download the export file directly when the export is completed. When `true` and the export state is `COMPLETED`, the response will be a CSV file download instead of JSON.
      responses:
        '200':
          description: |
            Export status retrieved successfully. If `download=true` and the export state is `COMPLETED`, the response body will be the CSV file.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data_export_id:
                    type: string
                    description: The unique identifier of the data export job.
                  state:
                    type: string
                    enum:
                      - REQUESTED
                      - IN_PROGRESS
                      - COMPLETED
                      - FAILED
                    description: |
                      Current state of the export job:
                      - `REQUESTED` — The export has been created and is queued for processing.
                      - `IN_PROGRESS` — The export is currently being processed.
                      - `COMPLETED` — The export finished successfully and is available for download.
                      - `FAILED` — The export encountered an error.
                  created_ts:
                    type: string
                    format: date-time
                    description: Timestamp when the export was created (ISO 8601).
                  finished_ts:
                    type: string
                    format: date-time
                    description: Timestamp when the export finished (ISO 8601). Only present when the state is `COMPLETED` or `FAILED`.
            text/csv:
              schema:
                type: string
                format: binary
                description: CSV file content returned when `download=true` and the export state is `COMPLETED`.
        '400':
          description: Bad request — missing `data_export_id` parameter.
        '401':
          description: Unauthorized — missing or invalid API key.
        '403':
          description: Forbidden — insufficient permissions, the export does not belong to the requesting user, or the organization is not on the enterprise tier.
        '404':
          description: Data export not found, or the export file is no longer available.
        '500':
          description: Internal server error.
      security:
        - bearerAuth: []

  /agents:
    get:
      summary: List agents
      description: List agents the caller has access to. Filter by team, search by name, or narrow to agents that use a specific tool or trigger.
      operationId: listAgents
      tags:
        - Agents
      x-codeSamples:
        - lang: bash
          label: cURL
          source: |
            curl 'https://api.gumloop.com/api/v1/agents?team_id=YOUR_TEAM_ID&search=research' \
              -H 'Authorization: Bearer YOUR_ACCESS_TOKEN'
        - lang: python
          label: Python
          source: |
            from gumloop import Gumloop

            client = Gumloop(access_token="YOUR_ACCESS_TOKEN")

            response = client.agents.list(team_id="YOUR_TEAM_ID", search="research")
            for agent in response.agents:
                print(agent.id, agent.name)
      parameters:
        - in: query
          name: team_id
          required: false
          schema:
            type: string
          description: Scope the listing to a single team. When omitted, returns agents owned by the authenticated user.
        - in: query
          name: search
          required: false
          schema:
            type: string
          description: Case-insensitive substring match against the agent name.
        - in: query
          name: creator
          required: false
          schema:
            type: string
          description: Filter to agents created by this user ID.
        - in: query
          name: has_triggers
          required: false
          schema:
            type: boolean
          description: When `true`, only returns agents that have at least one active trigger configured.
        - in: query
          name: tool
          required: false
          schema:
            type: string
          description: Filter to agents that use the specified MCP server as a tool.
        - in: query
          name: flow
          required: false
          schema:
            type: string
          description: Filter to agents that use the specified saved flow as a tool.
      responses:
        '200':
          description: Agents matching the provided filters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  agents:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique agent identifier.
                          example: "abc123DEFghiJKL"
                        name:
                          type: string
                          example: "Sales research agent"
                        description:
                          type: string
                          example: "Researches accounts and drafts outreach"
                        team_id:
                          type: string
                          description: ID of the team that owns the agent.
                          example: "team_4f8c92ab"
                        is_active:
                          type: boolean
                          example: true
                        model_name:
                          type: string
                          description: ID of the LLM the agent runs on.
                          example: "anthropic/claude-sonnet-4"
                        system_prompt:
                          type: string
                          example: "You are a B2B sales research assistant."
                        tools:
                          type: array
                          description: Tools the agent can call. Secret references are stripped before being returned.
                          items:
                            type: object
                        resources:
                          type: array
                          items:
                            type: object
                        metadata:
                          type: object
                        folder_id:
                          type: string
                          example: "folder_91ab"
                        created_at:
                          type: string
                          format: date-time
                          description: ISO 8601 timestamp of when the agent was created.
                          example: "2026-05-15T14:32:00Z"
                        active_trigger_count:
                          type: integer
                          description: Number of active triggers on this agent.
                          example: 2
                  next_cursor:
                    type: string
                    description: Reserved for future cursor-based pagination. Currently always `null`.
                    example: null
              examples:
                multiple:
                  summary: Multiple agents
                  value:
                    agents:
                      - id: "abc123DEFghiJKL"
                        name: "Sales research agent"
                        description: "Researches accounts and drafts outreach"
                        team_id: "team_4f8c92ab"
                        is_active: true
                        model_name: "anthropic/claude-sonnet-4"
                        system_prompt: "You are a B2B sales research assistant."
                        tools: []
                        resources: []
                        metadata: {}
                        folder_id: null
                        created_at: "2026-05-15T14:32:00Z"
                        active_trigger_count: 2
                      - id: "xYz789AbCdEfGhI"
                        name: "Support triage"
                        description: "Triages incoming support tickets"
                        team_id: "team_4f8c92ab"
                        is_active: true
                        model_name: "openai/gpt-5"
                        system_prompt: null
                        tools: []
                        resources: []
                        metadata: {}
                        folder_id: null
                        created_at: "2026-04-02T09:11:00Z"
                        active_trigger_count: 0
                    next_cursor: null
                empty:
                  summary: No matches
                  value:
                    agents: []
                    next_cursor: null
        '401':
          description: Unauthorized — missing or invalid API key.
        '403':
          description: Forbidden — the caller does not have agent access on the requested team.
        '500':
          description: Internal server error.
      security:
        - bearerAuth: []
    post:
      summary: Create agent
      description: Create a new agent. The authenticated caller must have permission to create agents on the target team.
      operationId: createAgent
      tags:
        - Agents
      x-codeSamples:
        - lang: bash
          label: cURL
          source: |
            curl -X POST 'https://api.gumloop.com/api/v1/agents' \
              -H 'Authorization: Bearer YOUR_ACCESS_TOKEN' \
              -H 'Content-Type: application/json' \
              -d '{
                "name": "Sales research agent",
                "model_name": "anthropic/claude-sonnet-4",
                "description": "Researches accounts and drafts outreach",
                "system_prompt": "You are a B2B sales research assistant.",
                "team_id": "team_4f8c92ab"
              }'
        - lang: python
          label: Python
          source: |
            from gumloop import Gumloop

            client = Gumloop(access_token="YOUR_ACCESS_TOKEN")

            response = client.agents.create(
                name="Sales research agent",
                model_name="anthropic/claude-sonnet-4",
                description="Researches accounts and drafts outreach",
                system_prompt="You are a B2B sales research assistant.",
                team_id="team_4f8c92ab",
            )
            print(response.agent.id)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - model_name
              properties:
                name:
                  type: string
                  description: Display name for the agent.
                  example: "Sales research agent"
                model_name:
                  type: string
                  description: ID of the LLM the agent runs on. Use `GET /models` to discover valid values.
                  example: "anthropic/claude-sonnet-4"
                description:
                  type: string
                  nullable: true
                  example: "Researches accounts and drafts outreach"
                system_prompt:
                  type: string
                  nullable: true
                  example: "You are a B2B sales research assistant."
                tools:
                  type: array
                  description: Tools the agent can call. Each tool is an object whose shape depends on the tool type.
                  items:
                    type: object
                  default: []
                resources:
                  type: array
                  description: Resources attached to the agent.
                  items:
                    type: object
                  default: []
                skill_ids:
                  type: array
                  nullable: true
                  description: |
                    IDs of skills to attach to the agent. Attachment happens inside the create transaction, so an invalid ID fails the whole request (no orphaned agent). Omit to attach none. The caller must hold `INVOKE` on each skill. After creation, manage skills with `PATCH /agents/{agent_id}/skills`.
                  items:
                    type: string
                  example: ["skill_2b9c", "skill_7f1a"]
                metadata:
                  type: object
                  nullable: true
                  description: Arbitrary key/value metadata stored on the agent.
                folder_id:
                  type: string
                  nullable: true
                  description: ID of the folder to place the agent in.
                  example: "folder_91ab"
                is_active:
                  type: boolean
                  description: Whether the agent is active. Defaults to `true`.
                  default: true
                agent_id:
                  type: string
                  nullable: true
                  description: Optional caller-supplied agent ID. When omitted, the server generates one.
                team_id:
                  type: string
                  nullable: true
                  description: ID of the team to create the agent under. When omitted, the agent is owned by the authenticated user.
                  example: "team_4f8c92ab"
            examples:
              minimal:
                summary: Minimal create
                value:
                  name: "Sales research agent"
                  model_name: "anthropic/claude-sonnet-4"
              full:
                summary: Full create
                value:
                  name: "Sales research agent"
                  model_name: "anthropic/claude-sonnet-4"
                  description: "Researches accounts and drafts outreach"
                  system_prompt: "You are a B2B sales research assistant."
                  tools: []
                  resources: []
                  skill_ids: ["skill_2b9c", "skill_7f1a"]
                  metadata: {}
                  folder_id: "folder_91ab"
                  is_active: true
                  team_id: "team_4f8c92ab"
      responses:
        '201':
          description: Agent created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Unique agent identifier.
                        example: "abc123DEFghiJKL"
                      name:
                        type: string
                        example: "Sales research agent"
                      description:
                        type: string
                        nullable: true
                        example: "Researches accounts and drafts outreach"
                      team_id:
                        type: string
                        description: ID of the team that owns the agent.
                        example: "team_4f8c92ab"
                      is_active:
                        type: boolean
                        example: true
                      tools:
                        type: array
                        description: Tools the agent can call. Secret references are stripped and MCP server URLs are redacted before being returned.
                        items:
                          type: object
                      metadata:
                        type: object
                      model_name:
                        type: string
                        nullable: true
                        description: ID of the LLM the agent runs on.
                        example: "anthropic/claude-sonnet-4"
                      system_prompt:
                        type: string
                        nullable: true
                        example: "You are a B2B sales research assistant."
                      resources:
                        type: array
                        items:
                          type: object
                      skill_ids:
                        type: array
                        nullable: true
                        description: IDs of skills attached to the agent. `null` on surfaces that don't include them (e.g. the list endpoint); `[]` when none are attached. Manage with `PATCH /agents/{agent_id}/skills`.
                        items:
                          type: string
                        example: ["skill_2b9c", "skill_7f1a"]
                      folder_id:
                        type: string
                        nullable: true
                        example: "folder_91ab"
                      type:
                        type: string
                        nullable: true
                        description: Internal agent type discriminator.
                      created_at:
                        type: string
                        format: date-time
                        nullable: true
                        description: ISO 8601 timestamp of when the agent was created.
                        example: "2026-05-15T14:32:00Z"
                      active_trigger_count:
                        type: integer
                        nullable: true
                        description: Number of active triggers on this agent. Populated on list responses; may be `null` here.
                      creator:
                        type: object
                        nullable: true
                        description: User who created the agent. `null` when the creator is not known.
                        properties:
                          id:
                            type: string
                            nullable: true
                          first_name:
                            type: string
                            nullable: true
                          last_name:
                            type: string
                            nullable: true
                          email:
                            type: string
                            nullable: true
                          profile_picture:
                            type: string
                            nullable: true
              examples:
                created:
                  summary: Newly created agent
                  value:
                    agent:
                      id: "abc123DEFghiJKL"
                      name: "Sales research agent"
                      description: "Researches accounts and drafts outreach"
                      team_id: "team_4f8c92ab"
                      is_active: true
                      tools: []
                      metadata: {}
                      model_name: "anthropic/claude-sonnet-4"
                      system_prompt: "You are a B2B sales research assistant."
                      resources: []
                      skill_ids: ["skill_2b9c", "skill_7f1a"]
                      folder_id: "folder_91ab"
                      type: null
                      created_at: "2026-05-15T14:32:00Z"
                      active_trigger_count: null
                      creator:
                        id: "user_8c2a1b"
                        first_name: "Ada"
                        last_name: "Lovelace"
                        email: "ada@example.com"
                        profile_picture: null
        '400':
          description: Invalid request body.
        '401':
          description: Unauthorized — missing or invalid API key.
        '403':
          description: Forbidden — the caller does not have permission to create agents on the requested team.
        '500':
          description: Internal server error.
      security:
        - bearerAuth: []
  /agents/{agent_id}:
    get:
      summary: Retrieve agent
      description: Retrieve a single agent by ID.
      operationId: retrieveAgent
      tags:
        - Agents
      x-codeSamples:
        - lang: bash
          label: cURL
          source: |
            curl 'https://api.gumloop.com/api/v1/agents/abc123DEFghiJKL' \
              -H 'Authorization: Bearer YOUR_ACCESS_TOKEN'
        - lang: python
          label: Python
          source: |
            from gumloop import Gumloop

            client = Gumloop(access_token="YOUR_ACCESS_TOKEN")

            response = client.agents.retrieve("abc123DEFghiJKL")
            print(response.agent.name)
      parameters:
        - in: path
          name: agent_id
          required: true
          schema:
            type: string
          description: ID of the agent to retrieve.
      responses:
        '200':
          description: The requested agent.
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent:
                    type: object
                    properties:
                      id:
                        type: string
                        example: "abc123DEFghiJKL"
                      name:
                        type: string
                        example: "Sales research agent"
                      description:
                        type: string
                        nullable: true
                        example: "Researches accounts and drafts outreach"
                      team_id:
                        type: string
                        example: "team_4f8c92ab"
                      is_active:
                        type: boolean
                        example: true
                      tools:
                        type: array
                        description: Tools the agent can call. Secret references are stripped and MCP server URLs are redacted before being returned.
                        items:
                          type: object
                      metadata:
                        type: object
                      model_name:
                        type: string
                        nullable: true
                        example: "anthropic/claude-sonnet-4"
                      system_prompt:
                        type: string
                        nullable: true
                        example: "You are a B2B sales research assistant."
                      resources:
                        type: array
                        items:
                          type: object
                      skill_ids:
                        type: array
                        nullable: true
                        description: IDs of skills attached to the agent. `null` on surfaces that don't include them (e.g. the list endpoint); `[]` when none are attached. Manage with `PATCH /agents/{agent_id}/skills`.
                        items:
                          type: string
                        example: ["skill_2b9c", "skill_7f1a"]
                      folder_id:
                        type: string
                        nullable: true
                        example: "folder_91ab"
                      type:
                        type: string
                        nullable: true
                        description: Internal agent type discriminator.
                      created_at:
                        type: string
                        format: date-time
                        nullable: true
                        example: "2026-05-15T14:32:00Z"
                      active_trigger_count:
                        type: integer
                        nullable: true
                        description: Number of active triggers on this agent. Populated on list responses; may be `null` here.
                      creator:
                        type: object
                        nullable: true
                        description: User who created the agent. `null` when the creator is not known.
                        properties:
                          id:
                            type: string
                            nullable: true
                          first_name:
                            type: string
                            nullable: true
                          last_name:
                            type: string
                            nullable: true
                          email:
                            type: string
                            nullable: true
                          profile_picture:
                            type: string
                            nullable: true
              examples:
                single:
                  summary: Single agent
                  value:
                    agent:
                      id: "abc123DEFghiJKL"
                      name: "Sales research agent"
                      description: "Researches accounts and drafts outreach"
                      team_id: "team_4f8c92ab"
                      is_active: true
                      tools: []
                      metadata: {}
                      model_name: "anthropic/claude-sonnet-4"
                      system_prompt: "You are a B2B sales research assistant."
                      resources: []
                      skill_ids: ["skill_2b9c", "skill_7f1a"]
                      folder_id: "folder_91ab"
                      type: null
                      created_at: "2026-05-15T14:32:00Z"
                      active_trigger_count: null
                      creator:
                        id: "user_8c2a1b"
                        first_name: "Ada"
                        last_name: "Lovelace"
                        email: "ada@example.com"
                        profile_picture: null
        '401':
          description: Unauthorized — missing or invalid API key.
        '403':
          description: Forbidden — the caller does not have read access to this agent.
        '404':
          description: Agent not found.
        '500':
          description: Internal server error.
      security:
        - bearerAuth: []
    patch:
      summary: Update agent
      description: |
        Update an existing agent. Only fields included in the request body are changed; omitted fields are left untouched.

        This endpoint edits document fields only. To attach or detach skills, use [`PATCH /agents/{agent_id}/skills`](/api-reference/agents/update-agent-skills); to manage MCP servers, use the [agent MCP server endpoints](/api-reference/agents/attach-agent-mcp-server).
      operationId: updateAgent
      tags:
        - Agents
      x-codeSamples:
        - lang: bash
          label: cURL
          source: |
            curl -X PATCH 'https://api.gumloop.com/api/v1/agents/abc123DEFghiJKL' \
              -H 'Authorization: Bearer YOUR_ACCESS_TOKEN' \
              -H 'Content-Type: application/json' \
              -d '{
                "description": "Researches enterprise accounts and drafts outreach",
                "is_active": true
              }'
        - lang: python
          label: Python
          source: |
            from gumloop import Gumloop

            client = Gumloop(access_token="YOUR_ACCESS_TOKEN")

            response = client.agents.update(
                "abc123DEFghiJKL",
                description="Researches enterprise accounts and drafts outreach",
                is_active=True,
            )
            print(response.agent.description)
      parameters:
        - in: path
          name: agent_id
          required: true
          schema:
            type: string
          description: ID of the agent to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  nullable: true
                model_name:
                  type: string
                  nullable: true
                  description: ID of the LLM the agent runs on. Use `GET /models` to discover valid values.
                  example: "anthropic/claude-sonnet-4"
                description:
                  type: string
                  nullable: true
                  example: "Researches enterprise accounts and drafts outreach"
                system_prompt:
                  type: string
                  nullable: true
                tools:
                  type: array
                  nullable: true
                  description: When provided, replaces the agent's tool list.
                  items:
                    type: object
                resources:
                  type: array
                  nullable: true
                  description: When provided, replaces the agent's resource list.
                  items:
                    type: object
                metadata:
                  type: object
                  nullable: true
                is_active:
                  type: boolean
                  nullable: true
                team_id:
                  type: string
                  nullable: true
                  description: When provided, transfers ownership of the agent to this team.
            examples:
              partial:
                summary: Partial update
                value:
                  description: "Researches enterprise accounts and drafts outreach"
                  is_active: true
      responses:
        '200':
          description: The updated agent.
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent:
                    type: object
                    properties:
                      id:
                        type: string
                        example: "abc123DEFghiJKL"
                      name:
                        type: string
                        example: "Sales research agent"
                      description:
                        type: string
                        nullable: true
                        example: "Researches enterprise accounts and drafts outreach"
                      team_id:
                        type: string
                        example: "team_4f8c92ab"
                      is_active:
                        type: boolean
                        example: true
                      tools:
                        type: array
                        description: Tools the agent can call. Secret references are stripped and MCP server URLs are redacted before being returned.
                        items:
                          type: object
                      metadata:
                        type: object
                      model_name:
                        type: string
                        nullable: true
                        example: "anthropic/claude-sonnet-4"
                      system_prompt:
                        type: string
                        nullable: true
                      resources:
                        type: array
                        items:
                          type: object
                      folder_id:
                        type: string
                        nullable: true
                        example: "folder_91ab"
                      type:
                        type: string
                        nullable: true
                        description: Internal agent type discriminator.
                      created_at:
                        type: string
                        format: date-time
                        nullable: true
                        example: "2026-05-15T14:32:00Z"
                      active_trigger_count:
                        type: integer
                        nullable: true
                        description: Number of active triggers on this agent. Populated on list responses; may be `null` here.
                      creator:
                        type: object
                        nullable: true
                        description: User who created the agent. `null` when the creator is not known.
                        properties:
                          id:
                            type: string
                            nullable: true
                          first_name:
                            type: string
                            nullable: true
                          last_name:
                            type: string
                            nullable: true
                          email:
                            type: string
                            nullable: true
                          profile_picture:
                            type: string
                            nullable: true
              examples:
                updated:
                  summary: Updated agent
                  value:
                    agent:
                      id: "abc123DEFghiJKL"
                      name: "Sales research agent"
                      description: "Researches enterprise accounts and drafts outreach"
                      team_id: "team_4f8c92ab"
                      is_active: true
                      tools: []
                      metadata: {}
                      model_name: "anthropic/claude-sonnet-4"
                      system_prompt: "You are a B2B sales research assistant."
                      resources: []
                      folder_id: "folder_91ab"
                      type: null
                      created_at: "2026-05-15T14:32:00Z"
                      active_trigger_count: null
                      creator:
                        id: "user_8c2a1b"
                        first_name: "Ada"
                        last_name: "Lovelace"
                        email: "ada@example.com"
                        profile_picture: null
        '400':
          description: Invalid request body.
        '401':
          description: Unauthorized — missing or invalid API key.
        '403':
          description: Forbidden — the caller does not have permission to update this agent.
        '404':
          description: Agent not found.
        '500':
          description: Internal server error.
      security:
        - bearerAuth: []
  /chat/completions:
    post:
      summary: Create chat completion
      servers:
        - url: 'https://ws.gumloop.com/api/v1'
      description: |
        OpenAI-compatible chat completions endpoint, multiplexed across every model Gumloop supports
        (Anthropic, OpenAI, Google Gemini, OpenRouter routes). Set `stream: true` for Server-Sent Events,
        or omit it for a unary JSON response. Image-generation models (`gpt-image-*`, `gemini-*-image-preview`,
        `dall-e-*`) are dispatched automatically when `modalities` includes `"image"` and yield image
        attachments on `choices[0].message.images`.

        ### Streaming host

        Chat completions live on the streaming host. Send all requests — unary or streaming — to:

        ```
        POST https://ws.gumloop.com/api/v1/chat/completions
        ```

        `api.gumloop.com` does not serve this endpoint; the Python SDK routes there automatically.

        ### Billing

        Each completion charges the caller's credit balance based on token usage (with cache-token semantics per provider) plus a flat 30-credit fee for image-gen calls. Users who configure their own provider API key get a 50% discount.
      operationId: createChatCompletion
      tags:
        - Chat completions
      x-codeSamples:
        - lang: bash
          label: cURL
          source: |
            curl -X POST 'https://ws.gumloop.com/api/v1/chat/completions' \
              -H 'Authorization: Bearer YOUR_ACCESS_TOKEN' \
              -H 'Content-Type: application/json' \
              -d '{
                "model": "claude-sonnet-4-5",
                "messages": [{"role": "user", "content": "Capital of Canada?"}]
              }'
        - lang: python
          label: Python (unary)
          source: |
            from gumloop import Gumloop

            client = Gumloop(access_token="YOUR_ACCESS_TOKEN")

            result = client.chat.completions.create(
                model="claude-sonnet-4-5",
                messages=[{"role": "user", "content": "Capital of Canada?"}],
            )
            print(result.choices[0].message.content)
        - lang: python
          label: Python (streaming)
          source: |
            from gumloop import Gumloop

            client = Gumloop(access_token="YOUR_ACCESS_TOKEN")

            for chunk in client.chat.completions.create(
                model="claude-sonnet-4-5",
                messages=[{"role": "user", "content": "Write a haiku about Toronto."}],
                stream=True,
            ):
                delta = chunk.choices[0].delta
                if delta.content:
                    print(delta.content, end="", flush=True)
        - lang: python
          label: Python (structured output)
          source: |
            from gumloop import Gumloop

            client = Gumloop(access_token="YOUR_ACCESS_TOKEN")

            result = client.chat.completions.create(
                model="claude-sonnet-4-5",
                messages=[{"role": "user", "content": "Return JSON with the capital of Canada."}],
                response_format={
                    "type": "json_schema",
                    "json_schema": {
                        "name": "answer",
                        "strict": True,
                        "schema": {
                            "type": "object",
                            "properties": {"capital": {"type": "string"}},
                            "required": ["capital"],
                            "additionalProperties": False,
                        },
                    },
                },
            )
            print(result.choices[0].message.content)
        - lang: python
          label: Python (image generation)
          source: |
            from gumloop import Gumloop

            client = Gumloop(access_token="YOUR_ACCESS_TOKEN")

            result = client.chat.completions.create(
                model="gpt-image-1.5",
                messages=[{"role": "user", "content": "A red maple leaf on white"}],
                modalities=["image", "text"],
                image_config={"size": "1024x1024"},
            )
            for image in result.choices[0].message.images:
                print(image.image_url.url[:64], "...")
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - model
                - messages
              properties:
                model:
                  type: string
                  description: Model slug. Use the `id` from `GET /models` or one of Gumloop's preset routes.
                  example: "claude-sonnet-4-5"
                messages:
                  type: array
                  description: Conversation history. Roles `system`, `user`, `assistant`. Multipart `content` (text + image) is supported on the user role.
                  items:
                    type: object
                  example:
                    - role: "user"
                      content: "Capital of Canada?"
                stream:
                  type: boolean
                  default: false
                  description: "When `true`, the response is `text/event-stream` carrying one `chat.completion.chunk` per delta and terminating with `data: [DONE]`. Otherwise a unary JSON `chat.completion` is returned."
                temperature:
                  type: number
                  description: Sampling temperature.
                max_completion_tokens:
                  type: integer
                  description: Cap on completion tokens. Replaces the deprecated `max_tokens` field.
                modalities:
                  type: array
                  items:
                    type: string
                    enum: ["text", "image"]
                  description: Output modalities. Include `"image"` to route to an image-generation model.
                image_config:
                  type: object
                  description: "Image-generation parameters (size, quality, aspect_ratio, background, output_format, partial_images). Optional. Image-generation models accept either `modalities: [\"image\"]` or `image_config` (or both); chat models ignore this field."
                response_format:
                  type: object
                  description: |
                    Constrain the response. `{type: "json_object"}` returns a JSON object; `{type: "json_schema", json_schema: {name, strict, schema}}` returns JSON matching the supplied schema.
                tools:
                  type: array
                  description: "OpenAI-shape tool definitions (`{type: \"function\", function: {name, description, parameters}}`). Pass `tool_choice` to constrain selection."
                tool_choice:
                  oneOf:
                    - type: string
                    - type: object
                  description: Force a specific tool, leave unset for the model to choose, or pass `"none"` to disable tool calls.
                provider:
                  type: object
                  description: OpenRouter provider routing config. Caller fields like `sort` and `order` are honored; ZDR/data_collection policy is server-enforced.
            example:
              model: "claude-sonnet-4-5"
              messages:
                - role: "user"
                  content: "Capital of Canada?"
      responses:
        '200':
          description: |
            Chat completion. When `stream` is `false` (or omitted), the response is the `chat.completion` envelope below. When `stream: true`, the response is `text/event-stream`; each event carries one `chat.completion.chunk` and the terminator is `data: [DONE]`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "chatcmpl-9a3f8c2b14d6e7"
                  object:
                    type: string
                    example: "chat.completion"
                  created:
                    type: integer
                    example: 1747315920
                  model:
                    type: string
                    example: "claude-sonnet-4-5"
                  choices:
                    type: array
                    items:
                      type: object
                      properties:
                        index:
                          type: integer
                          example: 0
                        finish_reason:
                          type: string
                          enum: [stop, length, tool_calls, content_filter, error]
                          example: "stop"
                        message:
                          type: object
                          properties:
                            role:
                              type: string
                              example: "assistant"
                            content:
                              type: string
                              example: "Ottawa."
                            tool_calls:
                              type: array
                              items:
                                type: object
                            reasoning:
                              type: string
                              description: Reasoning trace (Anthropic thinking blocks, Gemini thoughts, OpenAI o-series).
                            images:
                              type: array
                              description: Image attachments (data URLs). Populated only when an image-gen model produced output.
                              items:
                                type: object
                  usage:
                    type: object
                    properties:
                      prompt_tokens:
                        type: integer
                        example: 12
                      completion_tokens:
                        type: integer
                        example: 1
                      total_tokens:
                        type: integer
                        example: 13
                      cost:
                        type: number
                        description: OpenRouter-reported USD cost; absent for native providers.
                      is_byok:
                        type: boolean
                        description: True if the caller's own provider key was used.
              examples:
                unary:
                  summary: Unary completion
                  value:
                    id: "chatcmpl-9a3f8c2b14d6e7"
                    object: "chat.completion"
                    created: 1747315920
                    model: "claude-sonnet-4-5"
                    choices:
                      - index: 0
                        finish_reason: "stop"
                        message:
                          role: "assistant"
                          content: "Ottawa."
                    usage:
                      prompt_tokens: 12
                      completion_tokens: 1
                      total_tokens: 13
            text/event-stream:
              schema:
                type: string
                description: |
                  Stream of `chat.completion.chunk` events. Each event is `data: <json>\n\n`; the stream ends with `data: [DONE]\n\n`.
              example: |
                data: {"id":"chatcmpl-1","object":"chat.completion.chunk","created":1747315920,"model":"claude-sonnet-4-5","choices":[{"index":0,"delta":{"role":"assistant","content":"Ott"},"finish_reason":null}]}

                data: {"id":"chatcmpl-1","object":"chat.completion.chunk","created":1747315920,"model":"claude-sonnet-4-5","choices":[{"index":0,"delta":{"content":"awa."},"finish_reason":null}]}

                data: {"id":"chatcmpl-1","object":"chat.completion.chunk","created":1747315920,"model":"claude-sonnet-4-5","choices":[{"index":0,"delta":{},"finish_reason":"stop"}],"usage":{"prompt_tokens":12,"completion_tokens":2,"total_tokens":14}}

                data: [DONE]
        '400':
          description: Invalid request body, unsupported modality combination, or unregistered model slug.
        '401':
          description: Unauthorized — missing or invalid API key.
        '402':
          description: Insufficient credits.
        '404':
          description: User profile not found.
        '501':
          description: Requested capability not supported by the resolved provider.
        '502':
          description: Upstream provider error.
      security:
        - bearerAuth: []
  /models:
    get:
      summary: List models
      description: List the LLMs and preset model chains available to the caller, grouped for display in a model picker.
      operationId: listModels
      tags:
        - Models
      x-codeSamples:
        - lang: bash
          label: cURL
          source: |
            curl 'https://api.gumloop.com/api/v1/models?team_id=YOUR_TEAM_ID' \
              -H 'Authorization: Bearer YOUR_ACCESS_TOKEN'
        - lang: python
          label: Python
          source: |
            from gumloop import Gumloop

            client = Gumloop(access_token="YOUR_ACCESS_TOKEN")

            response = client.models.list()
            for group in response.model_groups:
                print(group)
      parameters:
        - in: query
          name: team_id
          required: false
          schema:
            type: string
          description: Scope model availability to a specific team. When omitted, uses the authenticated user's default organization.
      responses:
        '200':
          description: Model groups available to the caller.
          content:
            application/json:
              schema:
                type: object
                properties:
                  model_groups:
                    type: array
                    description: Groups of available models. The shape of each group is open and may evolve; treat it as a passthrough payload for the model picker.
                    items:
                      type: object
              examples:
                groups:
                  summary: Model groups
                  value:
                    model_groups:
                      - {}
        '401':
          description: Unauthorized — missing or invalid API key.
        '403':
          description: Forbidden — the caller does not have agent access on the requested team.
        '500':
          description: Internal server error.
      security:
        - bearerAuth: []
  /agents/{agent_id}/skills:
    patch:
      summary: Attach or detach agent skills
      description: |
        Attach and/or detach skills on an agent using deltas. This is **not** a replace-list: skills you don't mention are left untouched.

        - The operation is idempotent. Re-attaching a skill that's already attached (or detaching one that isn't) is reported under `already_attached` / `already_detached` rather than failing.
        - A skill ID may not appear in both `attach` and `detach`.
        - Up to 100 unique skill IDs total (`attach` + `detach`) per request.
        - Attaching requires `INVOKE` permission on the skill. Detaching is permissive so stale attachments can always be removed.
      operationId: updateAgentSkills
      tags:
        - Agents
      x-codeSamples:
        - lang: bash
          label: cURL
          source: |
            curl -X PATCH 'https://api.gumloop.com/api/v1/agents/abc123DEFghiJKL/skills' \
              -H 'Authorization: Bearer YOUR_ACCESS_TOKEN' \
              -H 'Content-Type: application/json' \
              -d '{
                "attach": ["skill_2b9c"],
                "detach": ["skill_7f1a"]
              }'
      parameters:
        - in: path
          name: agent_id
          required: true
          schema:
            type: string
          description: ID of the agent whose skills to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                attach:
                  type: array
                  description: Skill IDs to attach. Ignored if already attached.
                  items:
                    type: string
                  default: []
                detach:
                  type: array
                  description: Skill IDs to detach. Ignored if not attached.
                  items:
                    type: string
                  default: []
            examples:
              attachAndDetach:
                summary: Attach one skill and detach another
                value:
                  attach: ["skill_2b9c"]
                  detach: ["skill_7f1a"]
      responses:
        '200':
          description: The resulting skill set plus what this request changed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_id:
                    type: string
                    example: "abc123DEFghiJKL"
                  skill_ids:
                    type: array
                    description: Full set of skills attached to the agent after this request.
                    items:
                      type: string
                  attached:
                    type: array
                    description: Skills newly attached by this request.
                    items:
                      type: string
                  detached:
                    type: array
                    description: Skills newly detached by this request.
                    items:
                      type: string
                  already_attached:
                    type: array
                    description: Requested attaches that were already attached (no-op).
                    items:
                      type: string
                  already_detached:
                    type: array
                    description: Requested detaches that weren't attached (no-op).
                    items:
                      type: string
              examples:
                updated:
                  summary: One attached, one detached
                  value:
                    agent_id: "abc123DEFghiJKL"
                    skill_ids: ["skill_2b9c"]
                    attached: ["skill_2b9c"]
                    detached: ["skill_7f1a"]
                    already_attached: []
                    already_detached: []
        '400':
          description: Invalid request — e.g. an ID appears in both `attach` and `detach`, more than 100 unique IDs, or a skill to attach doesn't exist or isn't active (offending IDs returned in `error.details.skill_ids`).
        '401':
          description: Unauthorized — missing or invalid API key.
        '403':
          description: Forbidden — the caller lacks update access to the agent, or lacks `INVOKE` permission on a skill being attached (offending IDs in `error.details.skill_ids`).
        '404':
          description: Agent not found.
        '500':
          description: Internal server error.
      security:
        - bearerAuth: []
  /agents/{agent_id}/mcp-servers:
    get:
      summary: List agent MCP servers
      description: |
        List the MCP servers (connectors) attached to an agent. Sensitive fields such as `secret_id` and `mcp_server_url` are scrubbed from the response.
      operationId: listAgentMcpServers
      tags:
        - Agents
      x-codeSamples:
        - lang: bash
          label: cURL
          source: |
            curl 'https://api.gumloop.com/api/v1/agents/abc123DEFghiJKL/mcp-servers' \
              -H 'Authorization: Bearer YOUR_ACCESS_TOKEN'
      parameters:
        - in: path
          name: agent_id
          required: true
          schema:
            type: string
          description: ID of the agent.
      responses:
        '200':
          description: The MCP servers attached to the agent.
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_id:
                    type: string
                    example: "abc123DEFghiJKL"
                  mcp_servers:
                    type: array
                    description: Attached MCP server tool configs, with secrets and server URLs redacted.
                    items:
                      type: object
        '401':
          description: Unauthorized — missing or invalid API key.
        '403':
          description: Forbidden — the caller does not have read access to this agent's configuration.
        '404':
          description: Agent not found.
        '500':
          description: Internal server error.
      security:
        - bearerAuth: []
  /agents/{agent_id}/mcp-servers/{server_id}:
    put:
[...]
